.kintoneplugin-aggregate-button-normal {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 163px;
  height: 48px;
  outline: none;
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  color: #3498db;
  text-align: center;
  line-height: 48px;
}
.kintoneplugin-aggregate-button-normal:hover {
  background-color: #c8d6dd;
  box-shadow: none;
  cursor: pointer;
}